.Cart-container{
    width: 90vw;
    height: max-content;
    margin: 0 auto 3rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1.5rem;
    padding: 1rem;
    transition: all 700ms ease;
}

