.ProductAd-container{
display: flex;
justify-content: center;
align-items: center;
width: 50vw;
height: 30vw;
margin-top: 1rem;
}

.ProductAd-container > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.ProductAd-container > div > img{
    width: 100%;
    height: auto;
}

.btn-cart{
    margin-left: 1rem;
    border: 2px solid var(--color-bg-variant);
    color: var(--color-white);
    background-color: transparent;
}

.btn-delete{
    width: 6rem;
    margin-left: calc(50% - 5rem);
    margin-top: 1rem;
    border: 2px solid var(--color-bg-variant);
    color: var(--color-tertiary);
    background-color: transparent;
}

.btn-delete:hover{
        background-color: rgb(99, 4, 4);
        color: var(--color-white);

}

div > small > span{
    color: var(--color-tertiary);
}

div > strong > span{
    color: var(--color-secundary);
}

@media screen and (max-width: 1024px) {
  .ProductAd-container{
width: auto;
height: auto;
padding: 1rem;
margin-bottom: 3rem;
}

.btn-delete{
    width: fit-content;
    margin-left: 1rem;
}

}

@media screen and (max-width: 600px) {
  .ProductAd-container{
width: auto;
height: auto;
padding: 1rem;
margin-bottom: 3rem;

}
.ProductAd-container > div {
    grid-template-columns: 1fr;
}
.btn-delete{
    width: fit-content;
    margin-left: 1rem;
}
}
