.product-card-container {
  padding: 2rem;
}

.product-card-container-sf {
  display: none;
}

.product-card {
  background-color: transparent;
  backdrop-filter: blur(2px);

  border: 2px solid var(--color-bg-variant);
  border-radius: 0.9rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  padding: 0.5rem;

  cursor: pointer;
  text-decoration: none;
  color: black;
}

.product-card > img {
  width: 90%;
  justify-self: center;
  align-self: center;
}

.product-card:hover {
  border-color: var(--color-primary);
}

.product-card-details {
  margin-left: 1.5rem;
}

.product-card-details > h1 {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--color-white);
}
.product-card-details > small {
  color: var(--color-white);
}
.product-card-details > small:first-of-type {
  color: var(--color-primary);
}

@media screen and (max-width: 1024px) {

.product-card{
  grid-template-columns: 1fr;
}

}

@media screen and (max-width: 600px) {
  .product-card-container {
    display: none;
  }

  .product-card-container-sf {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .product-card {
    margin: 0.7rem;
    padding: 0.5rem;
    border: .1px solid var(--color-primary);
    grid-template-columns: 1fr 1fr;

  }

  small {
    font-size: 0.7rem;
  }
}
