.header-container {
  display: grid;
  grid-template-columns: 20vw 60vw 20vw;
  height: 8rem;
}

.header-Logo {
  width: auto;
  align-self: center;
  justify-self: center;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 2.5rem;
  width: 75%;
  justify-self: center;
}

#search {
  align-self: center;
  height: 2.5rem;
  width: 100%;
  justify-self: center;

  border: 1px solid var(--color-primary-variant);
  border-radius: 0.5rem;

  color: var(--color-bg);
  font-size: 1.3rem;

  padding: 1rem;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

#search-results{
  z-index: 1000;
  display: inline;
  max-height: 60vh;
background-color: var(--color-bg) ;
 color: var(--color-bg);
}

#search-results a {
display: flex;
align-items: center;
gap: 1rem;
margin: 1rem;
 padding: 1rem;
border: 1px solid var(--color-primary);
background-color: transparent;
backdrop-filter: blur(5px);
border-radius: 0.5rem;
color: white;
}
#search-results a img {
width: 100px;
}

.header-user-field {
  align-self: center;
  justify-self: center;
}

.header-icons {
  margin: 2rem;

  height: 2rem;
  width: auto;

}

.user{
    border: 2px solid;
  border-radius: 50%;
}

@media screen and (max-width: 1024px) {
    .header-container {
  grid-template-columns: 1fr;
  height: auto;
}

.header-Logo {
  margin-top: 2rem;
}

#search{
margin: 2rem 0 0;
}
}

@media screen and (max-width: 600px) {
    .header-container {
  grid-template-columns: 1fr;
  height: auto;
}

.search-container{
width: 75%;
height: fit-content;
}

#search{
margin: 2rem 0 0;
}

.header-Logo {
  margin-top: 2rem;
}
}
