@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100;1,200;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --color-bg: #040a0e;
  --color-bg-variant: #152B3C;
  --color-primary: #3A668B;
  --color-primary-variant: #4380B1;
  --color-white: #e7dfdd;

  --container-width: 100%;

  --transition: all 400ms ease
}


html {
  scroll-behavior: smooth;
}

body {
 font-family: 'Montserrat', sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  overflow-x: hidden;
}

.container {
  width: var(--container-width);
  margin: 0 auto;
}

img{
  display: block;
  width: 100%;
  object-fit: cover;
}

.a{
  color: var(--color-white);
  transition: var(--transition);
}

.a:hover{
  color: var(--color-primary-variant);
}

.btn{
  width: max-content;
  display: inline-block;
  color: var();
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var();
  transition: var(--transition);
}

.btn:hover{
  background-color: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary{
  background-color: var(--color-primary);
  color: var(--color-bg);
}

