

.Cardproduct-container{
    display: grid;
    grid-template-columns: 30vw 40vw 5vw;
    grid-template-rows: max-content;
    border: 2px solid var(--color-bg-variant);
    border-radius: 1rem;
    margin: 1rem 0;
    width: fit-content;
    transition: all 600ms ease;
}

.Cardproduct-container > img{
    justify-self: center;
    align-self: center;
    height: auto;
    width: 60%;
    padding: 5px;
}

.closeCart{
    margin: 0.5rem;
    justify-self: end;
}

.closeCart > button:hover{
    background-color: brown;
}

.closeCart > button:active{
    transform: translateY(15px);
}

.productDesc{
    display: grid;
    grid-template-columns: 1fr;   
}

.productDesc > h3{
    color: var(--color-secundary);
}

.productDesc > h5 > span{
    color: var(--color-secundary);
}

@media screen and (max-width: 1024px) {
 

}
@media screen and (max-width: 600px) {
 .Cardproduct-container{
    grid-template-columns: 1fr;
    min-width: 100%;
    width: fit-content;
}
}